.logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

}


.logo-grid img:hover { 
  transform: scale(1.2); 
}

.logo-grid img {
  cursor: pointer;
  margin: 1.5em;
}
