@font-face {
  font-family: "DjbUpOnTheScoreboard-2qX8";
  src: local("DjbUpOnTheScoreboard-2qX8"), url("./fonts/DjbUpOnTheScoreboard-2qX8.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  font-family: DjbUpOnTheScoreboard-2qX8;
  font-size: 3em;
}





